{% extends "./base/base.html" %}


{% block content %}

<div class="container-fluid p-0">
    <h2 class="text-dark text-center alert alert-primary py-4 display-3 fw-bold mb-5">
        About Me
    </h2>
    <div class="container">
        <h3 class="lead alert-success p-4 display-3 fw-bold rounded-3">
            <a class="text-decoration-none text-dark" href="https://www.linkedin.com/in/mesut-ozturk/">
                <span class="fab fa-linkedin"></span>
                Linkedin
            </a>
        </h3>
        
        <h3 class="lead alert-success p-4 display-3 fw-bold rounded-3">
            <a class="text-decoration-none text-dark" href="https://github.com/Mr-Mesut-OZTURK">
                <span class="fab fa-github"></span>
                Github
            </a>
        </h3>
        
        <h3 class="lead alert-success p-4 display-3 fw-bold rounded-3">
            <a class="text-decoration-none text-dark" href="https://github.com/Mr-Mesut-OZTURK/django-blog-app">
                <span class="fab fa-github-square"></span>
                Github Repo
            </a>
        </h3>
        
        <h3 class="lead alert-success p-4 display-3 fw-bold rounded-3">
            <a class="text-decoration-none text-dark" href="https://id.heroku.com/login">
                <span class="fab fa-houzz"></span>
                Heroku
            </a>
        </h3>
    </div>
</div>

{% endblock content %}